<html>
<head></head>
<body>
  <!--<h1>the secret number is: <%= number %></h1>-->
  <h2><%= message %></h2>
  <form>
    <input type="text" name="guess" />
    <input type="submit" value="Guess!" />
  </form>
</body>
</html>

